In [40]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report

In [41]:
data = pd.read_csv("Loan_Data.csv")
data.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,0,360,1,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128,360,1,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66,360,1,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120,360,1,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141,360,1,Urban,Y

In [42]:
data.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [43]:
data['Gender']=data['Gender'].map({'Female':1,'Male':0})
data['Married']=data['Married'].map({'Yes':1,'No':0})
data['Education']=data['Education'].map({'Graduate':1,'Not Graduate':0})
data['Self_Employed']=data['Self_Employed'].map({'Yes':1,'No':0})
data['Property_Area']=data['Property_Area'].map({'Urban':1,'Rural':2,'Semiurban':3})
data['Loan_Status']=data['Loan_Status'].map({'Y':1,'N':0})
data.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,0,0,0,1,0,5849,0.0,0,360,1,1,1
1,LP001003,0,1,1,1,0,4583,1508.0,128,360,1,2,0
2,LP001005,0,1,0,1,1,3000,0.0,66,360,1,1,1
3,LP001006,0,1,0,0,0,2583,2358.0,120,360,1,1,1
4,LP001008,0,0,0,1,0,6000,0.0,141,360,1,1,1

In [44]:
X = data.loc[:,['Gender','Married','Education','Self_Employed','Property_Area']]
y = data.Loan_Status

In [45]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = 0.3, random_state = 10)

In [55]:
model_logr = LogisticRegression(C=1e5)
model_logr.fit(X_train,y_train)

LogisticRegression(C=100000.0)

In [56]:
y_predict = model_logr.predict(X_test)

In [57]:
print(classification_report(y_test,y_predict))

              precision    recall  f1-score   support

           0       0.62      0.10      0.17        50
           1       0.74      0.98      0.84       131

    accuracy                           0.73       181
   macro avg       0.68      0.54      0.51       181
weighted avg       0.71      0.73      0.66       181

In [52]:
from sklearn.metrics import confusion_matrix
print(confusion_matrix(y_test,y_predict))

[[  5  45]
 [  3 128]]